[submodule "src/submodules/Skuld.Core"]
	path = src/submodules/Skuld.Core
	url = https://github.com/skuldbot/Skuld.Core
	branch = master
[submodule "src/submodules/Skuld.Models"]
	path = src/submodules/Skuld.Models
	url = https://github.com/skuldbot/Skuld.Models
	branch = master
